#{$header} {
	position: relative;
	background: #6c6c6c;
	color: #fff;

	&__row {
		@include clearfix;

		&:first-child {
			padding: 9px 11px 8px;
		}
	}

	&__text {
		position: relative;
		float: left;
		height: 100%;
		min-height: 85px;
	}

	&__title {
		margin: 0;
		font-weight: 400;
		font-size: 1.666666em;
		line-height: 1.15;
	}

	&__subtitle {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
		font-weight: 400;
		font-size: 1.666666em;
		line-height: 1.15;
	}

	&__nav {
		width: 100%;
	}
}