#{$article} {

	p {
		margin: .7em 0;
	}

	ul {
		li {
			&:before {
				content: '';
				display: block;
				width: 9px;
				height: 9px;
				position: absolute;
				top: 4px;
				left: -15px;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQxJREFUeNos0D9LhlAUBvDTH5qEd3jBxKIoJOKlaCtxCAVpd2ipT+AWra35BfwMjYJONrkmODm4uRlCQuKiBlaenhuv8LtX7j33PFeJmc9AghNYwvF6vs+yjOu65k0i+oZ9+IQd+AE7z/OXJElIVdUrmqYJh/gWrkGG56Io2Lbt/y547qiqKo6iiIdh+MLCY1mWbFkWe54nCmwRv4Fh1/f9jyAIyDRNStOU+r6nMAxJUZQVopfiTr+u614gm+I4pq7ryHEcUfCEvXfYInS6gYWI0XWdDcPgpmlE1INIgdU2Kt+ANU27RMesbVuSZfkIa3uwEF8r7qTg5RzKeZ5Px3F8lSTpcP0rDsT8J8AAQ9CqqEXjw1YAAAAASUVORK5CYII=');
			}
		}
	}
}