extends ../_template.pug

block variables
	- var title = 'Alseda 3 column training prototype'

block content
	.content
		.content__col.content__col_1
			+nav({
				mods: '_left',
				list: [
					{
						link: '#',
						text: 'Nav Left Sample',
						list: [
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							}
						]
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					}
				]
			})

		.content__col.content__col_2
			article.article
				header.article__header
					h2 HEADING Level 2, 20px, normal
					h3 HEADING Level 3, 16px, normal
					h4 HEADING Level 4, 14px, bold
					h5 HEADING Level 5, 12px, bold, italic

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat enim a sapien varius auctor. Duis ornare posuere libero. Nunc eget odio vitae leo tempor accumsan. Integer faucibus auctor scelerisque. Praesent euismod tellus ac leo rhoncus quis congue risus venenatis. Nullam eget justo odio. Morbi viverra libero cursus nisl rutrum a mollis risus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

				ul
					li List Item Sample
					li List Item Sample
					li List Item Sample
					li List Item Sample
					li List Item Sample

				table
					tr
						th Column 1
						th Column 2

					tr
						td #1
						td Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					tr
						td #2
						td Lorem ipsum dolor sit amet

					tr
						td #3
						td Lorem ipsum dolor sit amet, consectetur.

		.content__col.content__col_3
			aside.aside
				

