extends ../_template.pug

block variables
	- var title = 'Alseda 3 column training prototype'

block content
	.content
		.content__col.content__col_1
			+nav({
				mods: '_left',
				list: [
					{
						link: '#',
						text: 'Nav Left Sample',
						list: [
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							},
							{
								link: '#',
								text: 'Sub Nav Sample'
							}
						]
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					},
					{
						link: '#',
						text: 'Nav Left Sample'
					}
				]
			})
		.content__col.content__col_2

		.content__col.content__col_3

