#{$nav} {
	@include containerRegular;
	font-size: 1.1666666em;
	line-height: 1.643;

	&_hor {

		#{$nav}__item {
			float: left;
		}

		#{$nav}__link {
			background: none;
			color: #c8c8c8;
	
			&:hover {
				background: #fff;
				color: #0c0c0c;
			}
		}

		#{$nav}__sublist {
			min-width: 250px;
			padding: 5px 0 4px;
			background: $color-secondary;
		}

		#{$nav}__sublink {
			background: $color-secondary;
			color: #fff;

			&:hover {
				background: #fff;
				color: #0c0c0c;
			}
		}
	}

	&_left {
		#{$nav}__item {
			margin-bottom: 3px;
		}

		#{$nav}__link {
			border-radius: 5px 0 0 5px;
		}

		#{$nav}__sublist {
			left: 100%;
			top: 0;
		}

		#{$nav}__subitem {
			&:first-child {
				#{$nav}__sublink {
					padding-top: 2px;
				}
			}
		}
	}

	&__list {
		@include list-reset;
		@include clearfix;
	}

	&__item {
		@include list-reset;
		position: relative;

		&:hover {
			#{$nav}__sublist {
				display: block;
			}
		}
	}

	&__link {
		display: block;
		padding: 4px 13px;
		background: #fff;
		color: $color-main;

		&:hover {
			background: $color-main;
			color: #fff;
		}
	}

	&__sublist {
		@include list-reset;
		display: none;
		position: absolute;
		min-width: 165px;
		padding: 0 0 5px;
		background: $color-main;
		z-index: 1;
	}

	&__subitem {
		@include list-reset;
	}

	&__sublink {
		display: block;
		padding: 0 14px 1px;
		background: $color-main;
		color: #fff;

		&:hover {
			background: #fff;
			color: $color-main;
		}
	}
}

