#{$content} {
    @include containerRegular;

    &__col {
        display: table-cell;
        vertical-align: top;

        &_1 {
            width: 180px;
            padding: 13px 10px;
        }

        &_2 {
            width: calc(100% - 380px);
            height: calc(100vh - 163px);
            padding: 10px 9px;
            background-color: #fff;
        }

        &_3 {
            width: 200px;
            padding: 15px 11px;
        }
    }
}