* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-moz-osx-font-smoothing: grayscale;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

a {
	background-color: transparent;
	text-decoration: none;
	transition: all .3s ease;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $font-main;
	font-size: 12px;
	line-height: 1.5;
	color: $color-main;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 30px;
}

main {
	background-color: #949494;
}
