* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-moz-osx-font-smoothing: grayscale;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

h1 {
	margin: .67em 0;
	font-size: 2em;
}

h2 {
	margin: 0 0 .3em;
	font-weight: 400;
	font-size: 1.6666666em;
}

h3 {
	margin: 0 0 .55em;
	font-weight: 400;
	font-size: 1.3333333em;
}

h4 {
	margin: 0 0 .95em;
	font-size: 1.1666666em;
}

h5 {
	margin: 0 0 .7em;
	font-size: 1em;
	font-style: italic;
}

a {
	background-color: transparent;
	text-decoration: none;
	transition: all .3s ease;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $font-main;
	font-size: 12px;
	line-height: 1.5;
	background-color: $color-secondary;
	color: $color-main;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 30px);
	margin: 0 auto;
}

ul,
ol {
	@include list-reset;
	margin: .8em 0;
	padding-left: 17px;
}

ul {
	li {
		position: relative;
		margin: 0 0 .425em;
	}
}

table {
	width: 100%;
	margin: 1.3em 0;
	border-collapse: collapse;
	border: 0;
}

tr:nth-child(odd) {
	background: #adadad;
}

tr:nth-child(even) {
	background: #d6d6d6;
}

th {
	padding: 6px 13px;
	font-weight: 400;
	text-align: left;
	background-color: #333;
	color: #fff;

	&:first-child {
		width: 29.3%;
	}

	& + & {
		border-left: 1px solid #fff;
	}
}

td {
	padding: 6px 13px;

	& + & {
		border-left: 1px solid #333;
	}
}

